.statistics {
  background: rgba(28,28,28,0.5);
  border: 5px;
  border-radius: 4px;
  color: #fff;
  right: 10px;
  bottom: 30px;
  position: absolute;
  z-index: 1000;
  min-width: 23em;
  min-height: 11em;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}